<!-- <div class="welcome">
	<div class="inn cover">
		<h1 class="cover-heading">Hey There!<br>Search for youtube videos here!</h1>
        <p class="lead">Just type in your search term and enjoy the best youtube search results.</p>
		<form role="form" action="<%= static_pages_url %>" method="post">
	    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		  <div class="form-group">
		    <input type="search_term" name="term" class="form-control" id="search_term" placeholder="just type...">
		  </div> -->
		  
		  
		  
		  <!-- <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div> -->
		  <!-- <div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Check me out
		    </label>
		  </div> -->
			  
			  
		  <!-- <button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>	
</div> -->


<!-- <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div> -->